
* {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
}

.animate__hinge{
  color: #33FF64;
}

.animate__animated{
  color: aqua;
  text-align: center;
}

body{
  padding: 60px;
}

input{
  border-color: chartreuse;
  border-radius: 10px;
  color:white;
  font-size: 1.2rem;
  width: 100%;
}

.card{
  align-content: center;
  border:1px solid grey;
  border-radius: 20px;
  margin: 20px;
  margin-bottom:10px ;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #33FF64;
  
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  border-radius: 10px;
  
}
.card p {
  padding: 5px;
  text-align: center;
}
.card img{
  max-height: 180px;
  border-radius: 10px;
}

.title{
  border-radius: 30px;
  font-size: 15px;
  text-align: center;
}


@media (max-width: 640px) {

  body{
    padding: 20px;
  }

  .card{
    align-content: center;
    border:1px solid grey;
    border-radius: 20px;
    margin: 10px 2.5em 0 auto;
    background-color: #33FF64;
    padding: 10px;
    width: 100%;
    
  }

  .card img{
    max-height: 140px;
    border-radius: 10px;
    max-width: 100%;
   
  }

  .card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    border-radius: 10px;
   
  
  }

}
